html {
    position: relative;
    min-height: 100%;
}

body {
    background-image: url("../images/dust_scratches.png");
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 75px;
}

.headerContent {
    width: 960px;
    height: 75px;
    margin: auto;
}

.navbar-brand {
    line-height: 75px;
    padding: 0px 30px;
    font-size: 30px;
    background-color: #4aaaa5;
    height: 75px;
}

.navbar-default .navbar-brand {
    color: white;
}

.nav>li>a {
    padding: 0 15px;
}

li {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}
.navbar-nav>li>a {
    line-height: 75px;
}

.page-header {
    border-bottom: 3px solid #999;
    color: #4aaaa5;
    margin-top: 15px;
}

.content {
    width: 960px;
    margin: auto;
}

.infoContent {
    background-color: white;
    margin-top: 20px;
    padding: 0 15px;
}

form{
    margin: 0 15px 15px 15px;
}

.about {
    font-size: 18px;
}

.panel {
    margin-top: 20px;
}

.panel-title {
    font-size: 25px;
}

.panel-heading {
    background-color: transparent;
    border: none;
    border-bottom: 3px solid #777;
    padding: 15px 0;
    margin: 0 10px;
    color: #4aaaa5;
}

.panel-default {
    border-color: transparent;
}

.panel-default>.panel-heading {
    background-color: transparent;
    border-color: #777;
    color: #4aaaa5;
}

footer p {
    text-align: center;
    color: #ebebeb;
    padding-top: 30px;
}

footer {
    height: 75px;
    background-color: #4aaaa5;
    border-top: 4px solid #999;
    margin-top: 15px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.button {
    background-color: #4aaaa5;
    padding: 10px 25px;
    font-size: 18px;
    text-align: center;
    color: #ebebeb;
    margin-top: 10px;
}

.portName {
    background-color: #4aaaa5;
    color: #ebebeb;
    font-size: 22px;
    position: absolute;
    bottom: 0px;
    right: -25px;
    width: 274px;
    height: 60px;
    z-index: 2;
    text-align: center;
    border-bottom: none;
    font-weight: normal;
    vertical-align: middle;
    line-height: 60px;
}

.portImg {
    margin: 20px 20px 0px 20px;
    position: relative;

}